.profile{
    display:flex;
    flex-direction: column;
    padding: 1.5rem;
    gap:0.6rem;
    border: thick double #32a1ce;
    overflow-x:scroll;
    overflow-y: scroll;
    height: 12rem;
}
.profile:hover{
    box-shadow: 5px 5px 10px;
}
.profile .profile-heading{
    font-size: large;
}
.margin-right {
    margin-right: 1.4rem;
}
